{% extends "layout.njk" %}

{% block head %}

        <title>About</title>
        <link rel="stylesheet" href="/styles/about.css">

{% endblock head %}

{% block content %}

    <main>
        <div>
            <img src="/assets/logorocketseat.jpg" alt="logo">
            <h1>Rocketseat</h1>
            <h2>More than a technology education platform, an incredible community of devs looking for the next level🚀</h2>
            <ul>
                <li id="techs">Techs:</li>
                <li>React.js</li>
                <li>React Native</li>
                <li>Node.js</li>
            </ul>
        </div>
    </main>
    <footer>
        <div>
            <a class="link" href="https://github.com/rocketseat" target="_blank">Github</a>
            <a class="link" href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a class="link" href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    </footer>

{% endblock content %}